<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="#"><span class="icon_heart_alt"></span>
            <div class="tip">2</div>
        </a></li>
        <li><a href="#"><span class="icon_bag_alt"></span>
            <div class="tip">2</div>
        </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="../static/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- header -->
<div th:include="include/header"/>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <!-- 카테고리 및 상세 검색 -->
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <!-- 카테고리 -->
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>Category</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card" th:each="mainCategory,num : ${mainCat}">
                                    <div class="card-heading active">
                                        <a data-toggle="collapse" th:attr="data-target='#collapse'
                                        + ${mainCategory.sortcodeMain}"
                                           th:text="${mainCategory.sortcodeMain}"></a>
                                    </div>
                                    <!-- 다른 방법 체크 -->
                                    <div th:if="${pageMaker.sortcodeMain} != ${mainCategory.sortcodeMain}"
                                         th:id="'collapse' + ${mainCategory.sortcodeMain}"
                                         class="collapse" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul th:each="subCategory : ${subCat[num.index]}">
                                                <li>
                                                    <a th:href="'BhShop?sortcodeMain=' + ${mainCategory.sortcodeMain} +
                                                     '&sortcodeSub=' + ${subCategory}" th:text="${subCategory}"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div th:unless="${pageMaker.sortcodeMain} != ${mainCategory.sortcodeMain}"
                                         th:id="'collapse' + ${mainCategory.sortcodeMain}"
                                         class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul th:each="subCategory : ${subCat[num.index]}">
                                                <li>
                                                    <a th:href="'BhShop?sortcodeMain=' + ${mainCategory.sortcodeMain} +
                                                     '&sortcodeSub=' + ${subCategory}" th:text="${subCategory}"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- 다른 방법 체크 -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 카테고리 끝-->

                    <!-- 가격 상세 검색
                    <div class="sidebar__filter">
                        <div class="section-title">
                            <h4>Price</h4>
                        </div>
                        <div class="filter-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                 data-min="0" data-max="99"></div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <p>Price:</p>
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                        <a href="#">Filter</a>
                    </div>
                     가격 상세 검색 끝 -->

                    <!-- 사이즈 상세 검색 -->
                    <div class="sidebar__sizes">
                        <div class="section-title">
                            <h4>Size</h4>
                        </div>
                        <div class="size__list" th:each="size,sizeNum:${productSize}">
                            <form action="shop.html" method="post">
                                <label th:for="${size.productsizeValue}">
                                    <span th:text="${size.productsizeValue}"></span>
                                    <input type="checkbox" th:id="${size.productsizeValue}">
                                    <span class="checkmark"></span>
                                </label>
                            </form>
                        </div>
                    </div>
                    <!-- 사이즈 상세 검색 끝 -->

                    <!-- 색상 상세 검색 -->
                    <div class="sidebar__color">
                        <div class="section-title">
                            <h4>Color</h4>
                        </div>
                        <div class="size__list color__list" th:each="color,colorNum : ${productColor}">
                            <label th:for="${color.colorValue}">
                                <span th:text="${color.colorValue}"></span>
                                <input type="checkbox" th:id="${color.colorValue}">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <!-- 색상 상세 검색 끝-->
                </div>
            </div>
            <!-- 카테고리 및 상세 검색 끝-->

            <!-- 제품 -->
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    <div class="col-lg-4 col-md-6" th:each="product : ${productInfo}">
                        <div class="product__item">
                            <!-- 대표 이미지 -->
                            <div class="product__item__pic set-bg" data-setbg="../static/img/shop-cart/cp-1.jpg">
                                <!-- New,Sale,Out Of Stock 표시 -->
                                <div th:each="newp : ${newProduct}">
                                    <div class="label new" th:if="${product.productSeq} == ${newp.productSeq}">
                                        New</div>
                                </div>
                                <div th:each="discount : ${productDiscount}">
                                    <div class="label" style="background-color: red"
                                         th:if="${product.productSeq} == ${discount.productSeq}">Sale</div>
                                </div>
                                <div th:each="out : ${outOfStock}">
                                    <div class="label stockout stockblue"
                                         th:if="${product.productSeq} == ${out.productSeq}">Out Of Stock</div>
                                </div>
                                <!-- 확대/찜/장바구니 -->
                                <ul class="product__hover">
                                    <li><a href="static/img/shop/shop-1.jpg" class="image-popup">
                                        <span class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                                <!-- 확대/찜/장바구니 끝 -->
                            </div>
                            <div class="product__item__text">
                                <h6><a th:href="'BhShop/detail?productSeq=' + ${product.productSeq}"
                                       th:text="${product.productName}"></a></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <span th:if="${product.reviewStar} > 1"
                                          th:each="num : ${#numbers.sequence(2,product.reviewStar)}"
                                          style="display: inline-block">
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <div class="product__price">
                                    <div th:text="${product.productDiscount}"></div>
                                    <span th:unless="${product.productPrice.equals(product.productDiscount)}"
                                          th:text="${product.productPrice}">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 페이징 -->
                    <div class="col-lg-12 text-center">
                        <div class="pagination__option" th:if="${pageMaker.totalCount} > 0">
                            <a th:if="${pageMaker.prev}"
                               th:href="'BhShop' + ${pageMaker.makeQuery(pageMaker.startPage - 1)}">
                                <i class="fa fa-angle-left"></i></a>
                            <a th:each="page,num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"
                               th:text="${page}" th:href="'BhShop' + ${pageMaker.makeQuery(page)}"></a>
                            <a th:if="${pageMaker.next}"
                               th:href="'BhShop' + ${pageMaker.makeQuery(pageMaker.endPage + 1)}">
                                <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div th:if="${pageMaker.totalCount} == 0">등록된 상품이 없습니다.</div>
                    </div>
                    <!-- 페이징 끝 -->
                </div>
            </div>
            <!-- 제품 끝 -->
        </div>
    </div>
</section>
<!-- Shop Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="../static/img/logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="../static/img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="../static/img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="../static/img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="../static/img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="../static/img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i>
                        by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>
<script src="../static/js/mixitup.min.js"></script>
<script src="../static/js/jquery.countdown.min.js"></script>
<script src="../static/js/jquery.slicknav.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/jquery.nicescroll.min.js"></script>
<script src="../static/js/main.js"></script>
</body>

</html>