<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="#"><span class="icon_heart_alt"></span>
            <div class="tip">2</div>
        </a></li>
        <li><a href="#"><span class="icon_bag_alt"></span>
            <div class="tip">2</div>
        </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="../static/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- header -->
<div th:include="include/header"/>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th>상품목록</th>
                            <th>가격</th>
                            <th>수량</th>
                            <th>합계</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th with="sum"></th>
                        <!-- 장바구니 목록 시작 -->
                        <tr th:each="data : ${cartList}">
                            <td class="cart__product__item">
                                <img th:attr="src=${data.image}" alt=""
                                    width="90px" height="90px">
                                <div class="cart__product__item__title">
                                    <h6 th:text="${data.productName}"></h6>
                                     <label class="active"
                                       th:if="${data.optionName != null}"
                                       th:text="'옵션:' + ${data.optionName}"></label>
                                </div>
                            </td>
                            <td class="cart__price" th:text="${data.price} + '원'"></td>
                            <td class="cart__quantity">
                                <div class="pro-qty">
                                    <input type="text"
                                            th:attr="value=${data.quantity}">
                                </div>
                            </td>
                            <td class="cart__total" th:text="${data.totalPrice + '원'}"></td>
                            <td class="cart__close">
                                <span class="icon_close" th:onclick="cartDelete([[${data.seq}]])">
                                </span></td>
                        </tr>
                        <!-- 장바구니 목록 끝 -->
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="cart__total__procced">
                    <h6>장바구니 합계</h6>
                    <ul>
                        <li>합계
                            <span th:text="${cartTotalPrice == null ? '0' : cartTotalPrice} + '원'">
                        </span></li>
                    </ul>
                         <!--<button class="primary-btn btn btn-block" id="checkoutBtn">
                            주문 진행
                        </button>-->
                        <a href="/cart/checkout" class="primary-btn"
                        th:if="${cartTotalPrice != null}">주문 진행</a>
                        <a href="/cart/list" class="primary-btn"
                       th:if="${cartTotalPrice == null}">주문 진행</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- user info -->
<input type="hidden" id="id" th:attr="value=${id}">
<input type="hidden" id="userSeq" th:attr="value=${userSeq}">
<!-- -->

<!-- Js Plugins -->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>
<script src="../static/js/mixitup.min.js"></script>
<script src="../static/js/jquery.countdown.min.js"></script>
<script src="../static/js/jquery.slicknav.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/jquery.nicescroll.min.js"></script>
<script src="../static/js/main.js"></script>
</body>

</html>

<script>/*
    function test(data) {
        if(window.confirm("상품을 삭제하시겠습니까?"))
            document.location.href="/delete?seq=" + data;
    }

    $('.update__btn').on("click", function() {
        alert("click");
    });*/

    function cartDelete(data) {
        var seq = {
            seq: data,
            userId: $('#id').val(),
            userSeq: $('#userSeq').val()
        }

        $.ajax({
            url: "/cart/delete",
            type: "POST",
            contentType : "application/json",
            data : JSON.stringify(seq),
            success : function(data) {
                if(window.confirm("상품을 삭제하시겠습니까?"))
                    location.reload();
            },
            error : function(jqXhr) {
                alert("작업실패");
            }
        });

    }


/*    $('#checkoutBtn').on('click', function() {
        location.href="/checkout";

        var seq = {
            seq: data,
            userId: $('#id').val()
        }

        alert(seq.seq);
        alert(seq.userId);

        $.ajax({
            url: "/cart/delete",
            type: "POST",
            contentType : "application/json",
            data : JSON.stringify(seq),
            success : function(data) {
                if(window.confirm("상품을 삭제하시겠습니까?"))
                    location.reload();
            },
            error : function(jqXhr) {
                alert("작업실패");
            }
        });
    })*/
</script>